@import 'styles/colors';

.danderWrap{
    border: 2px solid $liteColor;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(6, 140, 166, 0.31);
    padding: 15px 9px 16px 21px;
    font-weight: 400;
    font-size: 21px;
    line-height: 27px;
    text-align: left;
    color: $mainColor;
}